
form {
    background-color: #3f554a;
    border-radius: 1.5rem;
    padding: 3rem;
    margin: 1rem;
    display: grid;
    max-width: 20rem;
    margin: 3rem auto;
    h1 {
        margin: 0;
        text-align: center;
        color: #e9d207;
        font-family: Arial, Helvetica, sans-serif;
    }
    label {
        margin-top: 3rem;
        margin-bottom: 0.5rem;
        color: #fff;
        font-size: 1rem;
    }
    input {
        height: 2.2rem;
        border-radius: 0.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
        background-color: #bdcdc5;
        box-shadow: 0px 5px 10px #183225;
        &:hover {
            transition: 0.5s ease;
            cursor: pointer;
        }
    }
    select {
        height: 2.2rem;
        border-radius: 0.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
        background-color: #bdcdc5;
        box-shadow: 0px 5px 10px #183225;
    }
    a {
        width: 10rem;
    }
    input[type=submit] {
        margin-top: 2rem;
        width: 10rem;
        height: 3rem;
        border-radius: 1.5rem;
        font-weight: 600;
        font-family: verdana;
        background-color: #e9d207;
        border: none;
        text-align: center;

        &:hover:enabled {
            color: #e9d207;
            background-color: black;
            transition: 0.4s;
            cursor: pointer;
        }
    }
    .confirm {
        color: #fff;
        h2:first-child {
            margin-top: 2rem;
        }
        h2 {
            margin: 0;
            font-size: 1rem;
        }
        p {
            margin: 0;
        }
    }
}