ul {
    background-color: #183818;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    .logo {
        margin: 1.3rem auto;
    }
    .computerMenu {
        visibility: hidden;
        position: absolute;
        transform: translateX(-500px);
    }
    button {
        position: static;
        border-radius: 12px;
        border: 1px solid #1f1f1f;
        margin: 2rem 1rem;
    }
    @media all and (min-width: 900px) {
        .computerMenu {
            display: flex;
            visibility: visible;
            position: static;
            transform: translateX(0px);
            margin: 2rem;
            a {
                margin: 0.8rem;
                color: #cfcfcf;
                margin-right: 5rem;
            }
        }
        button {
            visibility: hidden;
            position: absolute;
        }
        .hamburger {
            visibility: 0;
            transform: translateX(-100px);
        }
        .basket {
            transform: translateX(-1800px);
        }
    }
}

.mobileMenu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    list-style: none;
    background-color: #1f1f1f;
    padding: 1px;
    &.inactive {
        visibility: hidden;
        transform: translateX(-1000px);
        transition: 1s ease;
        opacity: 0.3;
    }
    &.active {
        visibility: visible;
        transform: translateX(0px);
        transition: 1s ease;
        opacity: 0.8;
    }
    
    a {
        margin: 0rem;
        font-family: sans-serif;
        font-weight: 800;
        color: #f1f1f1;
        text-decoration: none;
    }
}